@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --responsive-v: 800px;
  --margin: 20px;
  --text-margin: 10px;
  --color: #e9c46a;
}

body {
  background-color: rgb(21, 23, 24);
  color: #fff;
  font-family: Raleway, Fira Code, sans-serif;
}

code {
  font-family: "Fira Code", monospace;
}

.hljs {
  margin-top: var(--text-margin);
  overflow-x: auto;
}

a {
  color: var(--color);
  text-decoration: none;
}

.rendered p,
hr {
  margin-top: var(--text-margin);
}

.rendered hr {
  margin-bottom: var(--text-margin);
  height: 1px;
  background-color: rgb(27, 28, 28);
  border: none;
}

.rendered h1 {
  margin-bottom: var(--margin);
}

.rendered h2 {
  text-decoration: underline;
}

.rendered img {
  max-width: 100%;
  height: auto;
}
