@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --responsive-v: 800px;
  --margin: 20px;
  --text-margin: 10px;
  --color: #e9c46a;
}

body {
  background-color: rgb(21, 23, 24);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: "Fira Code", monospace;
}

.hljs {
  margin-top: var(--text-margin);
  overflow-x: auto;
}

a {
  color: var(--color);
  text-decoration: none;
}

.rendered p,
hr {
  margin-top: var(--text-margin);
}

.rendered hr {
  background-color: rgb(21, 23, 24);
  margin-bottom: var(--text-margin);
}

.rendered h1 {
  margin-bottom: var(--margin);
}

.rendered img {
  max-width: 100%;
  height: auto;
}
